*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.gradle/
/.idea/
/build/
/Kotlintest.iml
/app/build/
/app/libs/
/app/src/main/assets/fonts/
/app/src/main/assets/
/app/src/main/assets/fonts/order.ttf
/app/src/main/assets/fonts/awesome.ttf
/app/src/main/assets/fonts/Ailerons.ttf
